<body>
    <nav class="navbar navbar-fixed-top" style="background-color:dodgerblue;color:white">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">CS 341</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/" >Home</a></li>
                    <li><a href="#!/calendar">Calendar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/login" ><span class="glyphicon
                    glyphicon-log-in"></span>Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <h1>Hi {{vm.user.firstName}}!</h1>
    <p>You're logged in!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li ng-repeat="user in vm.allUsers">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a ng-click="vm.deleteUser(user.id)">Delete</a>
        </li>
    </ul>

    <a href="#!/calendar">Create New Calendar</a>

    <p>&nbsp;</p>

</body>
